.editBtn {
  margin: 0 10px;
}
.deleteBtn {
  margin: 0 5px;
}
.categoriesList {
  margin-top: 10px;
  li {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
}
.categoryName {
  font-weight: bold;
}
.categoryFields {
  font-style: italic;
}

.deleteConfirmation {
  & > div {
    display: flex;
    flex-wrap: none;
  }
}